---
layout: default
sections:
- id: work
  title: About SBST
- id: report
  title: Work
- id: contact
  title: Contact Us

header_icons:
  - cloud
  - sun
  - graph

scripts:
- main.js
---

<!-- - href: https://www.google.com
  text:
    primary: View the presentation
    secondary: Google Slides
  image:
    href: /img/report-cover.png
    alt: report cover -->

<header>

  <div class="flag-container">
    <a href="https://18f.gsa.gov">
      <img class="usa-flag" src="img/us_flag_large.png">
    </a>
    <p>An official website of the U.S. government</p>
  </div>

  <div class="container">
  
  </div>
  <nav>
    <ul class="container">
    {% for section in page.sections %}
      <li><a href="#{{ section.id }}">{{ section.title }}</a></li>
    {% endfor %}
    </ul>
  </nav>
  
</header>

<main>
  {% for section in page.sections %}
  <section id="{{ section.id }}">
    <div class="container">
      <h1>{{ section.title }}</h1>
      {% capture content %}{% include {{ section.id }}.md %}{% endcapture %}
      {{ content | markdownify }}
    </div>
  </section>
  {% endfor %}
</main>

<footer>
  <div class="container">
    {% capture footer %}{% include footer.md %}{% endcapture %}
    {{ footer | markdownify }}
  </div>
</footer>
