$blue: #13cbf7;
$red: #ef5c49;
$green: #c2ec70;
$white: #fff;
$black: #000;
$slighty-transparent-blue: transparentize($blue, .07);
$medium-blue: #017BB3; // flag bar background on smaller devices
$dark-gray: #374b54;
$dark-blue: #1d325d;

$left-gutter: 18rem;
$right-gutter: $left-gutter;

$mobile-width: 800px;

// SVG icons (colored)
$cloud-icon: "../img/icons/cloud.svg";
$sun-icon: "../img/icons/sun.svg";
$graph-icon: "../img/icons/graph.svg";
$mail-icon: "../img/icons/mail.svg";

$clipboard-icon: "../img/icons/clipboard.svg";
$federal-icon: "../img/icons/federal.svg";
$search-icon: "../img/icons/search.svg";
$serve-icon: "../img/icons/serve.svg";

$about-icon: "../img/icons/about.svg";
$work-icon: "../img/icons/work.svg";